<div class="card">
    <div class="card-header">Customer Details</div>
    <div class="detail-item">
        <label>Name:</label> {{data.fullName}}
    </div>
    <div class="detail-item">
        <label>Mobile:</label> {{data.mobile}}
    </div>
    <div class="detail-item">
        <label>Email:</label> {{data.email}}
    </div>
    <div class="detail-item">
        <label>PAN Number:</label> {{data.panNumber}}
    </div>
    <div class="detail-item">
        <label>City:</label> {{data.city}}
    </div>
    <div class="detail-item">
        <label>Post Code:</label> {{data.postcode}}
    </div>
    <div class="detail-item">
        <label>State:</label> {{data.state}}
    </div>
    <div class="detail-item">
        <label>Address:</label> {{data.addressLine1}}
    </div>
    <div class="detail-item">
        <label>Address 2:</label> {{data.addressLine2}}
    </div>
</div>