
<div class="modal-content">
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
  </div>
  <div class="modal-body">
    <form [formGroup]="customerform" class="needs-validation" novalidate>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="pan" class="form-label"
            >PAN<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="pan"
            (change)="AddValidPan()"
            formControlName="panNumber"
            name="pan"
          />
          <div class="my-2 mx-6">
            <div
              *ngIf="
                customerform.hasError('required', 'panNumber') &&
                customerform.controls['panNumber'].dirty
              "
              class="text-danger"
            >
              PAN is required.
            </div>
            <div
              *ngIf="
                customerform.hasError('pattern', 'panNumber') &&
                customerform.controls['panNumber'].dirty
              "
              class="text-danger"
            >
              Invalid PAN format.
              <span
                class="text-danger"
                *ngIf="customerform.hasError('maxlength', 'panNumber')"
              >
                && Maximum length exceeded.</span
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="name" class="form-label"
            >Full Name<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="fullName"
            name="name"
            [(ngModel)]="customerform.value.fullName"
          />
          <div class="my-2 mx-6">
            <div
              *ngIf="
                customerform.hasError('required', 'fullName') &&
                customerform.controls['fullName'].dirty
              "
              class="text-danger"
            >
              FullName is required.
            </div>
            <span
              class="text-danger"
              *ngIf="customerform.hasError('maxlength', 'fullName')"
            >
              Maximum length exceeded.</span
            >
          </div>
        </div>
        <div class="col-md-4">
          <label for="email" class="form-label"
            >Email<span class="text-danger">*</span></label
          >
          <input
            name="email"
            formControlName="email"
            type="text"
            placeholder="Email"
            type="email"
            class="form-control p-2 border text-sm font-medium w-full border-gray-00 rounded"
            id="email"
            name="email"
          />
          <div class="my-2 mx-6">
            <ng-container
              *ngIf="
                customerform.hasError('required', 'email') &&
                customerform.controls['email'].dirty
              "
            >
              <span class="text-red-500 text-sm font-medium" style="color: red"
                >*Email is required</span
              >
            </ng-container>

            <ng-container *ngIf="customerform.hasError('email', 'email')">
              <span class="text-red-500 text-sm font-medium" style="color: red"
                >*Email is invalid</span
              >
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="mobileNo" class="form-label"
            >Mobile Number<span class="text-danger">*</span></label
          >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="+91XXXXXXXXXX"
              formControlName="mobile"
              id="mobile"
              name="mobile"
            />
          </div>
          <div class="my-2 mx-6">
            <div
              *ngIf="
                customerform.get('mobile')?.hasError('required') &&
                customerform.get('mobile')?.dirty
              "
              class="text-danger"
            >
              Mobile Number is required.
            </div>
            <div
              *ngIf="customerform.get('mobile')?.hasError('maxlength')"
              class="text-danger"
            >
              Maximum length exceeded.
            </div>
            <div
              *ngIf="
                customerform.get('mobile')?.invalid &&
                (customerform.get('mobile')?.dirty ||
                  customerform.get('mobile')?.touched)
              "
              class="text-danger"
            >
              Invalid Mobile Number.
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <h5>Addresses</h5>
          <div id="addresses">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="addressLine1" class="form-label"
                      >Address Line 1<span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="addressLine1"
                      placeholder="Address Line 1"
                      formControlName="addressLine1"
                    />
                    <div class="my-2 mx-6">
                      <div
                        *ngIf="
                          customerform
                            .get('addressLine1')
                            ?.hasError('required') &&
                          (customerform.get('addressLine1')?.touched ||
                            customerform.get('addressLine1')?.dirty)
                        "
                        class="text-danger"
                      >
                        Address Line 1 is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label for="addressLine2" class="form-label"
                      >Address Line 2</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="addressLine2"
                      placeholder="Address Line 2"
                      formControlName="addressLine2"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label for="PostCode" class="form-label"
                      >Post Code<span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="postcode"
                      placeholder="Postcode"
                      (change)="AddValidPostCode()"
                      formControlName="postcode"
                    />

                    <div class="my-2 mx-6">
                      <div
                        *ngIf="
                          customerform.get('postcode')?.hasError('required') &&
                          (customerform.get('postcode')?.touched ||
                            customerform.get('postcode')?.dirty)
                        "
                        class="text-danger"
                      >
                        Pin Code is required.
                      </div>
                      <div
                        *ngIf="
                          customerform.get('postcode')?.hasError('pattern') &&
                          customerform.get('postcode')?.touched
                        "
                        class="text-danger"
                      >
                        Invalid Pin Code.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label for="addressLine1" class="form-label"
                      >State<span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="state"
                      formControlName="state"
                      placeholder="State"
                      [(ngModel)]="customerform.value.state"
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="addressLine1" class="form-label"
                      >City<span class="text-danger">*</span></label
                    >

                    <input
                      type="text"
                      class="form-control"
                      name="city"
                      formControlName="city"
                      placeholder="city"
                      [(ngModel)]="customerform.value.city"
                    />
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          *ngIf="this.customerId == 0"
          class="btn btn-success m-2"
          type="submit"
          (click)="AddCustomer()"
          [disabled]="!customerform.valid"
        >
          Save
        </button>

        <button
          *ngIf="this.customerId !== 0"
          class="btn btn-primary m-2"
          type="submit"
          (click)="updateCustomer()"
          [disabled]="!customerform.valid"
        >
          update customer
        </button>

      </div>
    </form>
  </div>
</div>

